<!DOCTYPE html>
{% load static %}
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html lang="en">
<!--<![endif]-->
<head>

<!-- Basic Page Needs -->
<meta charset="utf-8">
<title>ANNOVA Survey Responsive Template</title>
<meta name="description" content="">
<meta name="author" content="Ansonika">

<!-- Favicons-->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
<link href="{% static 'quiz/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'quiz/css/style.css' %}" rel="stylesheet">
<link href="{% static 'quiz/font-awesome/css/font-awesome.css' %}" rel="stylesheet" >
<link href="{% static 'quiz/css/socialize-bookmarks.css' %}" rel="stylesheet">
<link href="{% static 'quiz/js/fancybox/source/jquery.fancybox.css?v=2.1.4' %}" rel="stylesheet">
<link href="{% static 'quiz/check_radio/skins/square/aero.css' %}" rel="stylesheet">

<!-- Toggle Switch -->
<link rel="stylesheet" href="{% static 'quiz/css/jquery.switch.cs' %}s">

<!-- Owl Carousel Assets -->
<link href="{% static 'quiz/css/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'quiz/css/owl.theme.css' %}" rel="stylesheet">

<!-- Google web font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Jquery -->
<script src="{% static 'quiz/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'quiz/js/jquery-ui-1.8.22.min.js' %}"></script>

<!-- Wizard-->
<script src="{% static 'quiz/js/jquery.wizard.js' %}"></script>

<!-- Radio and checkbox styles -->
<script src="{% static 'quiz/check_radio/jquery.icheck.js' %}"></script>

<!-- HTML5 and CSS3-in older browsers-->
<script src="{% static 'quiz/js/modernizr.custom.17475.js' %}"></script>

<!-- Support media queries for IE8 -->
<script src="{% static 'quiz/js/respond.min.js' %}"></script>


</head>

<body>

<section id="top-area">


 </section>

<section class="container" id="main">

<!-- Start Survey container -->
<div id="survey_container">

	<div id="top-wizard">
		<strong>Progress <span id="location"></span></strong>
		<div id="progressbar"></div>
		<div class="shadow"></div>
	</div><!-- end top-wizard -->

	<form name="example-1" action="{% url 'reponse' sondage.id %}"  method="POST">
        {% csrf_token %}
		<div id="middle-wizard">

			<div class="step row">
                <input id="website" name="website" type="text" value="" ><!-- Leave for security protection, read docs for details -->

				<div class="col-md-10">
					<h3>{{sondage.Question1}}</h3>
					<ul class="data-list-2">
						<li><input name="poll1" type="radio" class="required check_radio" value="Question1_option1"><label>{{sondage.Question1_option1}}</label></li>
						<li><input name="poll1" type="radio" class="required check_radio" value="Question1_option2"><label>{{sondage.Question1_option2}}</label></li>
						<li><input name="poll1" type="radio" class="required check_radio" value="Question1_option3"><label>{{sondage.Question1_option3}}</label></li>
					</ul>
				</div>
			</div><!-- end step -->

			<div class="step row">
				<div class="col-md-10">
					<h3>{{sondage.Question2}}</h3>
					<ul class="data-list-2">
						<li><input name="poll2" type="checkbox" class="required check_radio" value="Question2_option1"><label>{{sondage.Question2_option1}}</label></li>
						<li><input name="poll2" type="checkbox" class="required check_radio" value="Question2_option2"><label>{{sondage.Question2_option2}}</label></li>
						<li><input name="poll2" type="checkbox" class="required check_radio" value="Question2_option3"><label>{{sondage.Question2_option3}}</label></li>
					</ul>
				</div>
			</div><!-- end step -->

			<div class="step row">
				<div class="col-md-10">
					<h3>{{sondage.Question3}}</h3>
					<ul class="data-list-2 clearfix">
						<li><input name="poll3" type="radio" class="required check_radio" value="Question3_option1"><label>{{sondage.Question3_option1}}</label></li>
						<li><input name="poll3" type="radio" class="required check_radio" value="Question3_option2"><label>{{sondage.Question3_option2}}</label></li>
					    <li><input name="poll3" type="radio" class="required check_radio" value="Question3_option3"><label>{{sondage.Question3_option3}} </label></li>
					</ul>
				</div>
			</div><!-- end step -->

			<div class="step row">
				<div class="col-md-10">
					<h3>{{sondage.Question4}}</h3>
					<ul class="data-list-2 clearfix">
						<li><input name="poll4" type="radio" class="required check_radio" value="Question4_option1"><label>{{sondage.Question4_option1}}</label></li>
						<li><input name="poll4" type="radio" class="required check_radio" value="Question4_option2"><label>{{sondage.Question4_option2}}</label></li>
					    <li><input name="poll4" type="radio" class="required check_radio" value="Question4_option3"><label>{{sondage.Question4_option3}} </label></li>
					</ul>
				</div>
			</div><!-- end step -->
            <div class="step row">
				<div class="col-md-10">
					<h3>{{sondage.Question5}}</h3>
					<ul class="data-list-2 clearfix">
						<li><input name="poll5" type="radio" class="required check_radio" value="Question5_option1"><label>{{sondage.Question5_option1}}</label></li>
						<li><input name="poll5" type="radio" class="required check_radio" value="Question5_option2"><label>{{sondage.Question5_option2}}</label></li>
					    <li><input name="poll5" type="radio" class="required check_radio" value="Question5_option3"><label>{{sondage.Question5_option3}} </label></li>
					</ul>
				</div>
			</div><!-- end step -->

			<div class="submit step" id="complete">
                    	<i class="icon-check"></i>
						<h3>Merci pour avoir vote !</h3>
                <li><button type="submit" value="">Terminer</button></li>
			</div><!-- end submit step -->

		</div><!-- end middle-wizard -->

		<div id="bottom-wizard">
			<button type="button" name="backward" class="backward">Backward</button>
			<button type="button" name="forward" class="forward">Forward </button>
		</div><!-- end bottom-wizard -->
	</form>

</div><!-- end Survey container -->



</section><!-- end section main container -->


 <div id="toTop">Back to Top</div>



<!-- OTHER JS -->
<script src="{% static 'quiz/js/jquery.validate.js' %}"></script>
<script src="{% static 'quiz/js/jquery.placeholder.js' %}"></script>
<script src="{% static 'quiz/js/jquery.tweet.min.js' %}"></script>
<script src="{% static 'quiz/js/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'quiz/js/quantity-bt.js' %}"></script>
<script src="{% static 'quiz/js/bootstrap.js' %}"></script>
<script src="{% static 'quiz/js/retina.js' %}"></script>
<script src="{% static 'quiz/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'quiz/js/functions.js' %}"></script>

<!-- FANCYBOX -->
<script  src="{% static 'quiz/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.4' %}" type="text/javascript"></script>
<script src="{% static 'quiz/js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.5' %}" type="text/javascript"></script>
<script src="{% static 'quiz/js/fancy_func.js' %}" type="text/javascript"></script>

</body>
</html>
