


<!DOCTYPE html>
{% load static %}
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/dist/css/style.css' %}">
	<script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% include 'core2/header.html' %}

	<link rel="stylesheet" href="{% static 'tables/css/style.css' %}">
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
							<a href="{% url 'home' %}">
								<img class="header-logo-image" src="{% static 'dist/images/logo.svg' %}" alt="Logo">
                            </a>

                        </h1>

                    </div>

                </div>
            </div>
        </header>

        <main>

            <section class="hero">

                <div class="container">

                    <div class="hero-inner">
                        {% for room in rooms %}
                        <div class="">
                            <div class="pricing-table">
                                <div class="pricing-table-inner is-revealing">
                                    <div class="pricing-table-main">
                                        Salon {{ forloop.counter }}
                                        <div class="pricing-table-header pb-24">
                                            <div class="pricing-table-price"><span class="pricing-table-price-currency h2"></span><span class="pricing-table-price-amount h1" style="color: dodgerblue">{{ p.prix }}</span></div>
                                        </div>
										<div class="pricing-table-features-title text-xs pt-24 pb-24">Nom du salon : {{ room.name }}</div>


                                    </div>
                                    <div class="pricing-table-cta mb-2 ">
                                        <a class="button button-primary button-shadow button-block" href="{% url 'room' room.slug %}">Rejoindre</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                         {% endfor %}

                    </div>
                </div>
            </section>

        </main>
    </div>

    <script src="{% static 'dist/js/main.min.js' %}"></script>
</body>
</html>


